.layout-notification
  .chat.clearfix
    .chat-side
      .chat-user.clearfix
        %h5
          = current_user.nickname
        .chat-user__actions
          =link_to new_group_path,class: "chat-user__action" do
            %i.fa.fa-pencil-square-o
          =link_to edit_user_registration_path,class: "chat-user__action" do
            %i.fa.fa-cog
      %ul.chat-groups
        = render partial: 'shared/group',collection: @groups
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2
            = @group.group_name
            %p.chat-header__users
              Members:
              = render partial: 'user', collection: @group.users
        .chat-header--right
          =link_to "Edit", edit_group_path(@group),class: "chat-header__edit-btn"
      .chat-body
        %ul.chat-messages
          = render partial: 'post', collection: @posts
      .chat-footer
        = form_for @post,url: group_chats_path  do |f|
          .new_message
            .chat-footer__body
              =f.text_area :message, id:"message_body", placeholder: " type a message", row: "1"
              %label.chat-footer__file
                = f.file_field :text_image, class: "message_image",id: "image_body"
                %i.fa.fa-image
              = f.submit "Send",class: "submit-factor",id: "submit_body"
