.layout-notification
  .chat.clsarfix
    .chat-side
      .chat-user.clearfix
        %h5
          = @user.nickname
        .chat-user__actions
          %a.chat-user__action{:href => "/chat_groups/new"}
            %i.fa.fa-pencil-square-o
          %a.chat-user__action{:href => "/users/edit"}
            %i.fa.fa-cog
      %ul.chat-groups
        %li.chat-group
          %a.chat-group__link{:href => "/chat_groups/952/messages"}
            %p.chat-group__name
              = @group.group_name
            = render 'layouts/message'
            %p.chat-group__message

    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2
            = @group.group_name
          %p.chat-header__users
            Members:
            %span.chat-header__user 
            = @user.nickname
            %span.chat-header__user 山田太郎くん
        .chat-header--right
          %a.chat-header__edit-btn{:href => "/chat_groups/952/edit"} Edit
      .chat-body
        %ul.chat-messages
          - @posts.each do |post|
            %li.chat-message
              .chat-message__header.clearfix
                %p.chat-message__name 
                  = post.user.nickname
                %p.chat-message__time 
                  = post.created_at.strftime("%Y年 %m月 %d日")
              %p.chat-message__body 
                = post.message
                %p.chat-message__photo
                  = image_tag post.text_image,class: "text_image"
      .chat-footer
        = form_for @post,url: chats_path do |f|
          - if @post.errors.any?
            #error_explanation
              %h2 No text
          .new_message
            .chat-footer__body
              =f.text_area :message, id:"message_body", placeholder: "type a message", row: "1"
              %label.chat-footer__file
                = f.file_field :text_image, class: "message_image"
                %i.fa.fa-image
              = f.submit "SEND",class: "submit-factor"
