.layout-notification
  .chat.clearfix
    .chat-side
      .chat-user.clearfix
        %h5
          = current_user.nickname
        .chat-user__actions
          =link_to new_group_path,class: "chat-user__action" do
            %i.fa.fa-pencil-square-o
          =link_to edit_user_registration_path,class: "chat-user__action" do
            %i.fa.fa-cog
      %ul.chat-groups
        - @groups.each do |group|
          %li.chat-group
            = link_to group_chats_path(group.id),class: "chat-group__link" do
              %p.chat-group__name
                = group.group_name
              = render 'layouts/message'
              %p.chat-group__message
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2
            = @group.group_name
            %p.chat-header__users
              Members:
              - @group.users.each do |user|
                %span.chat-header__user
                  = user.nickname
        .chat-header--right
          =link_to "Edit", edit_group_path(@group),class: "chat-header__edit-btn"
      .chat-body
        %ul.chat-messages
          - @posts.each do |post|
            %li.chat-message
              .chat-message__header.clearfix
                %p.chat-message__name 
                  = post.user.nickname
                %p.chat-message__time 
                  = post.created_at.strftime("%Y年 %m月 %d日")
              %p.chat-message__body 
                = post.message
                %p.chat-message__photo
                  = image_tag post.text_image,class: "text_image"
      .chat-footer
        = form_for @post,url: group_chats_path do |f|
          .new_message
            .chat-footer__body
              =f.text_area :message, id:"message_body", placeholder: "type a message", row: "1"
              %label.chat-footer__file
                = f.file_field :text_image, class: "message_image"
                %i.fa.fa-image
              = f.submit "SEND",class: "submit-factor"
